<h1><%=@recommand.name %>にでも行きますか</h1>
<h2>基本情報</h2>
<ul>
住所・<%=@recommand.address %><hr>
電話番号・<%=@recommand.tel %><hr>
定休日・<%=@recommand.regular_holiday %><hr>
開店時間・<%=@recommand.open %><hr>
閉店時間・<%=@recommand.close %><hr>
</ul>
